$charcoal: #bbb;

.main-header {
  align-items: center;
  border-bottom: 10%, rgb(88, 148, 238);
  display: flex;
  height: 10vh;
  padding: 0 20px;

  h1 {
  color:rgb(88, 148, 238);
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 10px;
  }

  a,
  span {
    font-size: 1.2em;
    color: rgb(73, 134, 226);
    margin: 0 15px;
    font-weight:bolder; 
  }
}

.main-header > nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    font-size: 0.7em;
    height: auto;
    padding: 10px;

    h1 {
      font-size: 2.5em;
    
    }
  }
}

@media (max-width: 450px) {
  .main-header > nav {
    flex-direction: column;
    width: 100%;

    a,
    span {
      border: 10px solid $charcoal;
      margin-bottom: 5px;
      text-align: center;
      width: 80%;
    }
  }
}
